<div>

	<h2>Registrazione</h2>

	<button class="btn btn-primary btn-lg" data-toggle="modal"
		data-target="#saveFaceModal" ng-click="openFace()">
		<span class="glyphicon glyphicon-flash"></span> Create a new Face
	</button>
	
	<button class="btn btn-primary btn-lg"  ng-click="train()">
		<span class="glyphicon glyphicon-flash"></span> Train
	</button>
	
	<button class="btn btn-primary btn-lg" data-toggle="modal"
		data-target="#saveFaceModal" ng-click="openFaceLogin()">
		<span class="glyphicon glyphicon-flash"></span> Login
	</button>

	<div class="modal fade" id="saveFaceModal" tabindex="-1" role="dialog"
		aria-labelledby="myFaceLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="form" role="form" novalidate
					class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
					ng-submit="create()">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true" ng-click="clear()">&times;</button>
						<h4 class="modal-title" id="myFaceLabel">You smile!</h4>
					</div>

					<div class="modal-body">
						<div class="my-show-hide-animation" id="booth-view">
							<button ng-click="makeSnap()" id="start-photo" type="button"
								ng-show="newInsert"
								class="btn btn-primary btn-lg btn-block glyphicon glyphicon-camera">
								GO!</button>
							<button ng-click="remakeSnap()" id="start-photo" type="button"
								ng-show="!newInsert"
								class="btn btn-primary btn-lg btn-block glyphicon glyphicon-camera">
								Repeat!</button>
							<div class="row">
								<div class="col-md-8 col-md-offset-2">

									<div id="video-container" ng-show="!fotoFatta">
										<video responsive id="video" autoplay></video>
										<canvas id="canvas-overlay"></canvas>
									</div>
									<img ng-src="{{face.photo}}" ng-show="fotoFatta">
								</div>
							</div>
						</div>
						<canvas id="hidden-canvas" style="display: none;"></canvas>

						<div class="well" ng-show="isTrovata">
							{{faceTrovata}} <img src="{{faceTrovata.photo}}">
						</div>

						<div class="form-group" ng-hide="login">
							<label for="inputLable">Enter name</label> <input type="text"
								class="form-control" id="inputLable" placeholder="Enter name"
								ng-model="face.label" ng-disabled="newInsert" required>
						</div>
						<div class="modal-footer" ng-hide="login">
							<button type="button" class="btn btn-default"
								data-dismiss="modal" ng-click="clear()">
								<span class="glyphicon glyphicon-ban-circle"></span> Cancel
							</button>
							<button type="submit" ng-disabled="form.$invalid" ng-hide="login"
								class="btn btn-primary">
								<span class="glyphicon glyphicon-save"></span> Save
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Label</th>
                    <th>Foto</th>
                    <th>Counter</th>
                    <th></th>
                </tr>
            </thead> 
            <tbody>
                <tr ng-repeat="face in faces">
                    <td>{{face.label}}</td>
                    <td> 
                  	  <img ng-src="/app/rest/faces/{{face.id}}/photo.png" >
                    </td>
                    <td>{{face.count}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(face.id)"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(face.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> 
</div> 
